# Template Jupyter Notebook

In [1]:
import pandas as pd 
import json
import numpy as np

In [2]:
def parse_json(path: str):
    """
    Parsing
    """
    with open(path, "r", encoding="utf-8") as file:
        raw_data = json.load(file)
    
    messages = pd.DataFrame(raw_data["messages"])
    participants = pd.DataFrame(raw_data["participants"])
    return messages, participants

In [3]:
from load import parse_json

In [13]:
fdir = "/home/abil/Documents/your_instagram_activity/messages/inbox/chillwalknightday_5554251577921385"  
fname = "message_1.json"
fpath = fdir + "/" + fname
with open(fpath, "r", encoding="utf-8") as f:
    raw_data = f.read()
    
msgs, participants = parse_json(raw_data)

In [14]:
user_name = 'abil'

In [15]:
from count import count_msgs_io, total_msgs_sent, total_msgs_recieved, get_activity_timeline

In [16]:
msgs_o = msgs[msgs['sender_name'] == user_name].copy() #messeges out
msgs_o['content'] = msgs_o['content'].apply(lambda x : x if isinstance(x, str) else " ")

mask = msgs_o['content'].map(type) == str
assert mask.all(), f"Non-string values found at indices: {msgs.index[~mask].tolist()}"

In [17]:
count_msgs_io(msgs)

,date,content_count,audio_files_count,share_count,photos_count,videos_count,total
0,2024-12-16,7,0,0,1,0,8
1,2024-12-17,9,0,2,0,0,11
2,2024-12-18,0,0,0,0,0,0
3,2024-12-19,11,0,0,1,0,12
4,2024-12-20,6,0,0,0,0,6
...,...,...,...,...,...,...,...
302,2025-10-14,19,0,3,0,1,23
303,2025-10-15,1,0,1,0,0,2
304,2025-10-16,7,0,0,1,0,8
305,2025-10-17,3,0,0,1,0,4
306,2025-10-18,82,0,2,4,0,88

In [18]:
total_msgs_sent(msgs, "abil")

[{'content_count': 371,
  'audio_files_count': 0,
  'share_count': 32,
  'photos_count': 48,
  'videos_count': 8,
  'total': 459}]

In [19]:
total_msgs_recieved(msgs, "abil")

[{'content_count': 8513,
  'audio_files_count': 20,
  'share_count': 330,
  'photos_count': 433,
  'videos_count': 111,
  'total': 9407}]

In [20]:
pd.to_datetime(msgs['timestamp_ms'], unit="ms").dt.to_period("M")

0       2025-10
1       2025-10
2       2025-10
3       2025-10
4       2025-10
         ...
9995    2024-12
9996    2024-12
9997    2024-12
9998    2024-12
9999    2024-12
Name: timestamp_ms, Length: 10000, dtype: period[M]

In [21]:
timeline = get_activity_timeline(msgs, "abil", io_type="recieved")
pd.DataFrame.from_dict(timeline)

,month,content_count,audio_files_count,share_count,photos_count,videos_count,total
0,Dec-2024,23.625000,0.000000,0.562500,0.750000,0.000000,24.937500
1,Jan-2025,12.677419,0.032258,0.354839,0.774194,0.290323,14.129032
2,Feb-2025,29.428571,0.071429,1.285714,1.750000,0.500000,33.035714
3,Mar-2025,15.290323,0.000000,0.612903,0.516129,0.290323,16.709677
4,Apr-2025,19.833333,0.033333,0.633333,1.366667,0.266667,22.133333
5,May-2025,31.064516,0.064516,1.129032,1.709677,0.483871,34.451613
6,Jun-2025,35.800000,0.033333,0.633333,1.433333,0.433333,38.333333
7,Jul-2025,31.032258,0.096774,0.838710,1.096774,0.354839,33.419355
8,Aug-2025,43.677419,0.161290,2.032258,2.806452,0.548387,49.225806
9,Sep-2025,36.600000,0.166667,2.266667,1.566667,0.333333,40.933333
10,Oct-2025,22.111111,0.000000,1.388889,1.500000,0.277778,25.277778